.App {
  text-align: center;
}

h1{
  text-align: center;
}

form {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

input {
  width: 300px;
  height: 40px;
  font-size: 16px;
  padding: 0 10px;
}
.addButton{
  background-color: blue;
  color:azure;
  height: 40px;
  padding: 0 20px;
  font-size: 16px;
  cursor: pointer;
}

.todoList {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

.todoItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #61dafb;
  padding: 10px 15px;
  margin-bottom: 10px;
  border-radius: 8px;
  font-size: 16px;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.Dij{
  background-color: transparent;
  border:none;
  cursor: pointer;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
